<!-- Controller javascript object should hold all the logic of what data should be displayed/binded in the view and if view passes any data to controller ,controller can then update the server. All this is done using the $scope object which is initialised in controller.view can get info about controller using a  directive available for that but a controller shouldn't,you should be able to build a controller that can be used in different views (and it should be modular etc) $scope is the glue(viewModel) between view and controller-->
<!-- NOTE: Following example doesn't work anymore cz a function can't be defined on its own in angular(no stand alone functions , we have use them in modules) -->
<!DOCTYPE html>
<html data-ng-app="">
<head>
   <title>Using AngularJS Directives and Data Binding - with Controller</title>
   <script src="Scripts/jquery.min.js"></script>
   <script src="Scripts/bootstrap.min.js"></script>
</head>
    
<body>
  <div class="container" data-ng-controller="simpleController">
    <h3>Adding a simple Controller</h3>
    Name: <br />
    <input type="text" data-ng-model="name" />
    <br />
    <ul>
     <li data-ng-repeat="cust in customers | filter:name | orderBy:'city'">
        {{ cust.name | uppercase }} - {{ cust.city | lowercase }}
     </li>  
    </ul>
  </div>
  <script src="Scripts/angular.min.js"></script>
    
  <script>
    function simpleController($scope) {
        $scope.customers = [
           {name: 'John Smith', city: 'NY'},
           {name: 'John Doe', city: 'San Fran'},
           {name: 'Jane Doe', city: 'Chicago'}
        ];
    }
   </script>
 </body>
</html>